   $fone:#242424;
    $foneHover:#4B4B4B;
    $foneBtn:#3A3A3A;
    $foneBtnHover:#4B4B4B;
    $foneDialog:#212120;

    $color:#3291D7;
    $colorHover:#3291D7;
    $colorBtn:#3291D7;
    $colorBtnHover:#3291D7;

    $border:#525252;
    $borderBtn:#525252;

    $size:32px;
    $sizePanel:38px;
    $editHeight:28px;
    $btnWidth:80px;
    $gap:9px;
*{
    box-sizing: border-box;
    user-select: none;
}

body{
    background-color: $fone;
    color:$color;
    margin:0px;
    padding:0px;
    overflow:hidden;
    font-family: roboto,"Noto Sans Myanmar UI",arial,sans-serif;
}

#wp{
    position: absolute;
    margin:0px;
    padding:10px;
    width:100%;
    height:100%;
    border:1px solid 0;
    box-sizing: border-box;
    display:flex;
    
}

#page{
    
    border:1px solid $border;
    box-sizing: border-box;
    flex-grow: 1;
    border-radius: 3px;
    display: flex;
}

.box{
    border:1px solid $border;
}